# dependencies
node_modules/

# build output
dist/

# generated types
.astro/

# logs
*.log*

# environment variables
.env*

# macOS-specific files
.DS_Store

*.tmp*

# My files
TODO*
IDEA*
.idea*
public/.source/
*.psd
