---
import Icon from "@xtreat/astro-iconify";

interface Props {
  type?: "success" | "info" | "warning" | "error" | "link" | "neutral";
  icon?: "success" | "info" | "warning" | "error" | "link" | "neutral";
  noicon?: boolean;
}

const { type = "info", icon: iconOverride, noicon = false } = Astro.props;

const typeMap = {
  success: {
    base: "bg-clampography-success/20",
    text: "text-clampography-success",
    border: "border-clampography-success border-[1px]",
    icon: "clarity:success-standard-solid",
  },
  info: {
    base: "bg-clampography-info/20",
    text: "text-clampography-info",
    border: "border-clampography-info border-[1px]",
    icon: "clarity:info-solid",
  },
  warning: {
    base: "bg-clampography-warning/20",
    text: "text-clampography-warning",
    border: "border-clampography-warning border-[1px]",
    icon: "clarity:warning-solid",
  },
  error: {
    base: "bg-clampography-error/20",
    text: "text-clampography-error",
    border: "border-clampography-error border-[1px]",
    icon: "clarity:error-solid",
  },
  link: {
    base: "bg-clampography-info/20",
    text: "text-clampography-info",
    border: "border-clampography-info border-[1px]",
    icon: "mdi:link-variant",
  },
  neutral: {
    base: "bg-clampography-surface/20",
    text: "text-clampography-text",
    border: "border-clampography-text border-[1px]",
    icon: "mdi:android-messages",
  },
};

const alertClass = `bg-clampography-surface ${typeMap[type].text} flex w-full items-center gap-3 my-4 rounded-xl p-[0.5em] [&_a]:text-inherit [&_a]:decoration-current`;
const icon = iconOverride ? typeMap[iconOverride].icon : typeMap[type].icon;
---

<div role="alert" class={alertClass}>
  {
    !noicon && (
      <span class="flex shrink-0 items-center">
        <Icon icon={icon} class="size-[2em]" />
      </span>
    )
  }
  <span class="w-full">
    <slot />
  </span>
</div>
