---
import Icon from '@xtreat/astro-iconify';

interface Props {
  type?: 'success' | 'info' | 'warning' | 'error' | 'link' | 'neutral';
  icon?: 'success' | 'info' | 'warning' | 'error' | 'link' | 'neutral';
  style?: 'soft' | 'outline' | 'dash';
  noicon?: boolean;
}

const { type = 'info', style = 'soft', icon: iconOverride, noicon = false } = Astro.props;

const typeMap = {
  success: {
    base: 'alert-success',
    icon: 'mdi:check-circle',
  },
  info: {
    base: 'alert-info',
    icon: 'mdi:information-variant-circle',
  },
  warning: {
    base: 'alert-warning',
    icon: 'mdi:alert-box',
  },
  error: {
    base: 'alert-error',
    icon: 'mdi:close-circle',
  },
  link: {
    base: 'bg-code-bg',
    icon: 'mdi:link-variant',
  },
  neutral: {
    base: 'bg-code-bg',
    icon: 'mdi:android-messages',
  },
};

const styleMap = {
  soft: 'alert-soft',
  outline: 'alert-outline',
  dash: 'alert-dash',
};

const alertClass = `${typeMap[type].base} ${styleMap[style]} border-0 flex w-full items-center gap-3 my-4 rounded-xl p-[0.5em] [&_a]:text-inherit [&_a]:decoration-current`;
const icon = iconOverride ? typeMap[iconOverride].icon : typeMap[type].icon;
---

<div role='alert' class={alertClass}>
  {
    !noicon && (
      <span class='flex shrink-0 items-center'>
        <Icon icon={icon} class='size-[2em]' />
      </span>
    )
  }
  <span class='w-full'>
    <slot />
  </span>
</div>
