@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* https://tailwindcss-animations.vercel.app/ */
@plugin "@midudev/tailwind-animations";

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: oklch(68% 0.169 237.323);
  --color-primary-content: oklch(93% 0.034 272.788);
}

@theme {
  --color-code-bg: color-mix(in oklab, var(--color-base-content) 5%, var(--color-base-100))
}

:root {
  @apply p-2;
}

::selection {
  @apply text-base-100 bg-primary;
}

.prose {
  h1 {
    /* mt-[-1rem] is a temporary solution to keep icons and text in same level */
    @apply md:text-[2.25em] md:leading-[1.2] lg:text-[2.3em] lg:leading-[1.3] xl:text-[2.4em] xl:leading-[1.35] mt-[-1rem];
  }
}

#out-range {
  @apply transition-all duration-500;
}

.out-range {
  @apply grayscale opacity-20;  
}

main a {
  @apply text-primary font-bold tracking-wider no-underline;
}

main a:hover {
  @apply underline decoration-2 underline-offset-4;
}

blockquote {
  @apply not-italic;
  quotes: none;
}

pre {
  @apply !bg-code-bg !text-base-content/85;
}

code, pre {
  @apply font-mono !rounded-[inherit];
}

/* Remove margins from code blocks if they are inside Tab component */
pre:not(.tab-content code) {
  @apply my-0;
}

.flip-x {
  @apply scale-x-[-1];
}

.flip-y {
  @apply scale-y-[-1];
}
