@plugin "daisyui" {
  themes: dark, forest;
  /* exclude: rootscrollgutter; */
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-base-100: oklch(16.77% 0.01 252.43);
  --color-primary: oklch(64.84% 0.233 277.117);
}

@plugin "daisyui/theme" {
  name: "forest";
  default: true;
  prefersdark: false;
  --radius-box: 0.5rem;
}

@plugin "daisyui/theme" {
  name: "futura";
  color-scheme: "dark";
  --color-base-100: oklch(28.06% 0.1278 304.55);
  --color-base-content: oklch(62.97% 0.1593 305.14);
  --color-primary: oklch(62.97% 0.1593 305.14);
  --color-neutral: oklch(37.83% 0.1593 305.14);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
}

@plugin "daisyui/theme" {
  name: "enlightenment";
  default: true;
  color-scheme: "light";
  --color-base-100: oklch(99.7% 0 0);
  --color-base-content: oklch(26.45% 0 0);
  --color-primary: oklch(26.45% 0 0);
}

@plugin "daisyui/theme" {
  name: "print";
  default: true;
  color-scheme: "light";
  --color-base-100: oklch(99.7% 0 0);
  --color-base-content: oklch(26.45% 0 0);
  --color-primary: oklch(26.45% 0 0);
}

[data-theme="dark"] {}

[data-theme="futura"] {
  font-family: "Quando";
  .prose {
    a {
      @apply underline decoration-2 underline-offset-4 hover:no-underline
    }
  }
}

[data-theme="forest"] {
  font-family: "Fira Mono";
}

[data-theme="enlightment"] {
  font-family: "Quando";
}

/* .article-icon {
  text-box-edge: text !important;
  text-box-trim: both !important;
} */
