/* @plugin "clampography/theme" { */
@plugin "../../../../PACKAGES/clampography/src/theme-plugin.js" {
  name: 'greenery';

  color-scheme: 'dark';
  default: false;
  prefersdark: true;

  background: #0c0f13;
  surface: #44475a;
  border: #6272a4;

  heading: oklch(0.87 0.03 288.63);
  text: #f8f8f2;
  muted: #00d390;

  link: oklch(76% 0.177 163.223);
  primary: #00d390;
  secondary: #00d390;
}
