@plugin "clampography/theme" {
  /* @plugin "../../../../PACKAGES/clampography/src/theme-plugin.js" { */
  name: 'greenery';
  logs: false;

  color-scheme: 'dark';
  default: false;
  prefersdark: true;

  background: oklch(16.77% 0.01 252.43);
  surface: oklch(16.77% 0.01 252.43);
  border: #6272a4;

  heading: oklch(0.87 0.03 288.63);
  text: oklch(0.87 0.03 288.63);
  muted: #00d390;

  link: oklch(76% 0.177 163.223);
  primary: #00d390;
  secondary: #00d390;
}
