---
import Head from '@components/Head.astro';
import Header from './_Header.astro';
import Footer from './_Footer.astro';
import './_styles.css';
import TF2Editor from './_Editor.jsx';

const title = 'TF2 Colorizer Pro';
const description = 'TF2 Colored Text Generator';
---

<!doctype html>
<html lang='en'>
  <Head title={title} description={description} ignoreGlobalStyles />
  <body class='bg-[#0f1014] text-slate-200 min-h-screen font-sans flex flex-col items-center justify-center p-4'>
    <!-- <Header /> -->
    <TF2Editor client:only='react' />
    <Footer />
  </body>
</html>
