---
import Head from '@components/Head.astro';
import './_styles.css';
import TF2Editor from './_Editor.jsx';

const title = 'TF2 Colorizer Pro';
const description = 'TF2 Colored Text Generator';
---

<!doctype html>
<html lang='en'>
  <Head title={title} description={description} ignoreGlobalStyles />
  <body class='bg-[#0f1014] text-slate-200 min-h-screen font-sans flex flex-col items-center justify-center p-4'>
    <!-- Montujemy React Component. client:only jest kluczowe! -->
    <TF2Editor client:only='react' />

    <style is:global>
      /* Style dla paska przewijania wewnątrz Reacta */
      .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
      }
      .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
      }
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 10px;
      }
      .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    </style>
  </body>
</html>
