---
import PageLayout from '@/layouts/PageLayout.astro';
---

<PageLayout frontmatter={{ title: '404', description: '404' }}>
  <a
    href='/'
    class='text-5xl no-underline'
    title='This error means that the page does not exist. Click to return to the main page.'>ERROR 404</a
  >
  <p class='text-2xl'>This error means that the page does not exist.</p>
</PageLayout>
