---
import { pwaInfo } from 'virtual:pwa-info';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<html>
  <head>
    <meta name='theme-color' content='#ffffff' />
  </head>
  <body>
    <h1>PWA</h1>
  </body>
</html>
