---
import { readableDate } from '../scripts/utils.ts';
import Icon from '@xtreat/astro-iconify';
const { title, created, updated, author } = Astro.props;
---

<div id='article-details' class='mb-8'>
  <h1>{title}</h1>
  <div class='flex items-center gap-4 flex-wrap'>
    <span class='rounded bg-primary text-base-100 font-bold p-2 px-4 whitespace-normal md:whitespace-nowrap'>
      <span>Created on {readableDate(created, true)}</span>
      {author && <span> by {author}</span>}
    </span>
    {
      updated && (
        <span class='rounded bg-primary text-base-100 font-bold p-2 px-4 whitespace-normal md:whitespace-nowrap'>
          <span>Updated on {readableDate(updated)}</span>
        </span>
      )
    }
  </div>
</div>
