---
interface Props {
  class?: string;
  print?: boolean;
}

const { class: className, print = false } = Astro.props;
---

<span
  class:list={[
    'rounded-lg border border-solid p-2 px-4 whitespace-normal md:whitespace-nowrap',
    className,
    print ? 'hidden print:inline' : '',
  ]}
>
  <slot />
</span>
