---
const { title, created, updated, author } = Astro.props;
const articleUrl = new URL(Astro.request.url).toString();
import { readableDate } from '@scripts/utils.ts';
import Detail from './ArticleDetail.astro';
const details = {};
---

<div id='article-details' class='mb-8'>
  <h1>{title}</h1>
  <div class='flex items-center gap-2 flex-wrap'>
    <Detail>
      <span>Created on {readableDate(created, true)}</span>
      {
        author && (
          <span>
            {' '}
            <span class='whitespace-nowrap'>
              by <b>{author}</b>
            </span>
          </span>
        )
      }
    </Detail>
    {
      updated && (
        <Detail>
          <span>Updated on {readableDate(updated, true)}</span>
        </Detail>
      )
    }
    <Detail print={true}>
      {articleUrl}
    </Detail>
  </div>
</div>
