---
interface Props {
  class?: string;
  print?: boolean;
}

const { class: className, print = false } = Astro.props;
---

<span
  class:list={[
    'rounded-lg border border-solid px-(--clampography-spacing-md) py-(--clampography-spacing-xs) whitespace-normal md:whitespace-nowrap',
    className,
    print ? 'hidden print:inline-block' : 'inline-block',
  ]}
>
  <slot />
</span>
