---
interface Props {
  title?: string;
  subtitle?: string;
}

const { title = 'dav.one', subtitle } = Astro.props;
---

<header class=''>
  <a href='/' title='Return to the main page' aria-label='Return to the main page' class='font-bold header-link'>
    <h2 class=''>
      <span class='text-clampography-heading'>{title}</span>
      {subtitle && <span> - {subtitle}</span>}
    </h2>
  </a>
</header>
