---
import Logo from '@assets/Logo.svg?raw';
---

<header class='px-0 md:px-4 py-4 md:py-8 text-text'>
  <a href='/' title='Return to the main page' aria-label='Return to the main page'>
    <Fragment set:html={Logo} />
  </a>
</header>
