<header class=''>
  <a href='/' title='Return to the main page' aria-label='Return to the main page' class='font-bold'>
    <h2 class=''>
      <span class='text-clampography-heading'>dav</span><span class='text-clampography-secondary'>.</span><span
        class='text-clampography-heading'>one</span
      >
    </h2>
  </a>
</header>
