---
import { Image } from 'astro:assets';

interface Props {
  images: [ImageMetadata, string][];
}

const { images } = Astro.props;
---

<figure class='diff rounded-xl aspect-16/9 w-full not-prose'>
  <div class='diff-item-1' role='img'>
    <Image src={images[0][0]} alt={images[0][1]} />
  </div>
  <div class='diff-item-2' role='img'>
    <Image src={images[1][0]} alt={images[1][1]} />
  </div>
  <div class='diff-resizer'></div>
</figure>
