---
import { Image } from 'astro:assets';

interface Props {
  images: [ImageMetadata, string][];
}

const { images } = Astro.props;

// In the future I need to re-think this function
const gridCols = (imagesCount = images.length) => {
  if (imagesCount === 2) return 'grid-cols-1 sm:grid-cols-2';
  if (imagesCount === 3) return 'grid-cols-1 sm:grid-cols-3';
  if (imagesCount >= 4) return 'grid-cols-2 sm:grid-cols-4';
  return 'grid-cols-1';
};
---

<div class={`grid ${gridCols()} gap-0.5 not-prose`}>
  {images.map(([src, alt], index) => <Image src={src} alt={alt} title={alt} />)}
</div>
