---
// You are looking at freaking stupid hacks her, because cant use <slot /> in easy way
const html = await Astro.slots.render('default');
// This one matches all elements inside first paragraph
const images = html.match(/<img.*?>/gm) || [];
---

{
  images.length != 2 ? (
    <div class='skeleton w-full h-100 opacity-10' />
  ) : (
    <figure class='diff rounded-xl aspect-video w-full'>
      <div class='diff-item-1' role='img'>
        <Fragment set:html={images[0]} />
      </div>
      <div class='diff-item-2' role='img'>
        <Fragment set:html={images[1]} />
      </div>
      <div class='diff-resizer' />
    </figure>
  )
}
