<dialog id='preview' class='modal bg-base-100/80' onclick='preview.close()'>
  <div class='modal-box p-0 mx-auto max-w-fit'>
    <img
      id='modal-image'
      src=''
      alt='Alt text'
      width='768'
      height='1344'
      class='!m-0 h-auto max-h-[95vh] w-auto max-w-[95vw] object-contain'
      loading='lazy'
    />
  </div>
  <form method='dialog' class='modal-backdrop'>
    <button></button>
  </form>

  <script type='module'>
    function openModal({ src, width, height }) {
      const modal = document.getElementById('preview');
      const modalImg = document.getElementById('modal-image');
      modalImg.src = src;
      modalImg.width = width; // Set intrinsic width
      modalImg.height = height; // Set intrinsic height
      modal.showModal();
    }

    document.querySelectorAll('img').forEach((img) => {
      img.addEventListener('click', () => {
        openModal({
          src: img.src,
          width: img.naturalWidth, // Get natural dimensions
          height: img.naturalHeight,
        });
      });
    });
  </script>
</dialog>
