---
import PageSpeedRadial from './StatsLighthouseRadial.astro';
import { getPageSpeedScores } from '../scripts/utils.ts';
import Icon from '@xtreat/astro-iconify';

const isProduction = import.meta.env.PRODUCTION;

let scores = {
  performance: 0,
  accessibility: 0,
  bestPractices: 0,
  seo: 0,
};

isProduction && (scores = await getPageSpeedScores());
---

<!-- ### [Google PageSpeed Insights](https://pagespeed.web.dev/analysis/https-dav-one/k8mmkyikue?form_factor=desktop) -->
<div class='border-1 rounded-2xl w-fit p-4 select-none'>
  <h2 class='flex items-center !mt-1'>
    <Icon icon='simple-icons:lighthouse' class='inline-block w-14 h-14 m-2' />Google PageSpeed Insights
  </h2>
  <div class='flex gap-4'>
    <PageSpeedRadial category='Performance' score={scores.performance} />
    <PageSpeedRadial category='Accessibility' score={scores.accessibility} />
    <PageSpeedRadial category='Best Practices' score={scores.bestPractices} />
    <PageSpeedRadial category='SEO' score={scores.seo.toFixed(1)} />
  </div>
  {
    !isProduction && (
      <div role='alert' class='alert alert-warning alert-soft'>
        <span>Stats will be generated only in production builds.</span>
      </div>
    )
  }
</div>
