@import 'tailwindcss';
@plugin 'clampography';
/* @import '../../../../../PACKAGES/clampography/clampography.css'; */

@plugin "daisyui" {
  themes: all;
}

@plugin 'daisyui/theme' {
  name: 'forest';
  default: true;
  prefersdark: true;
}

body {
  font-family: var(--current-font, var(--font-family-base));
}

body.extra-styles-enabled {
  hr {
    @apply h-px border-0 my-12 bg-base-content/20;
  }

  table {
    @apply border-collapse border border-base-300 w-full;

    th,
    td {
      @apply border border-base-300;
    }

    th {
      @apply bg-base-200;
    }

    tr:nth-child(even) {
      @apply bg-base-200/30;
    }
  }

  pre {
    @apply bg-base-300/50 rounded-lg p-4 overflow-x-auto shadow-sm;
  }

  :not(pre) > code {
    @apply bg-base-content/10 rounded;
  }

  blockquote {
    @apply border-l-4 border-primary pl-4 italic bg-base-200/20 py-2 pr-2;
  }

  a:not(.btn) {
    @apply text-primary font-bold tracking-wide underline decoration-2 underline-offset-4 transition-colors duration-150;

    text-decoration-color: color-mix(
      in srgb,
      var(--color-primary) 30%,
      transparent
    );
  }

  a:hover {
    text-decoration-color: var(--color-primary);
  }

  mark {
    @apply text-base-100 bg-primary rounded;
    padding: 0.3em;
  }

  del {
    @apply decoration-error decoration-2;
  }
}
