---
import Head from '@components/Head.astro';
import Header from './_Header.astro';
import Readme from './_Readme.astro';
import TypographyDemo from './_TypographyDemo.astro';
import Footer from './_Footer.astro';

import './_styles.css';

const title = 'Clampography';
const description =
  'Fluid typography system based on CSS clamp() for Tailwind CSS v4. Alternative to Tailwind CSS Typography plugin.';

// const url = `https://registry.npmjs.org/-/package/clampography/dist-tags`;
// const response = await fetch(url);
// const data = await response.json();
// const latestVersion = data.latest;

import pkg from '../../../package.json';
const version = pkg.dependencies?.clampography?.replace(/^[\^~]/, '') || 'unknown';
---

<!doctype html>
<html lang='en'>
  <Head title={title} description={description} ignoreGlobalStyles />
  <body class='bg-base-100 text-base-content transition-colors duration-300'>
    <Header />
    <main class='max-w-3xl mx-auto px-6 py-16'>
      <div class='flex items-start justify-between select-none'>
        <!-- Left Div: Heading -->
        <div>
          <h1 class='text-primary select-none'>{title}</h1>
        </div>

        <!-- Right Div: Version (Aligned to top) -->
        <div class='text-base-100 bg-primary rounded-xl py-0 px-4' title='Version used on this page'>
          v{version}
        </div>
      </div>

      <Readme />

      <blockquote>
        <b>Note:</b> This package and demo page are under development. Some features may be incomplete or subject to change.
        Use the buttons at the top of the page to switch between different themes, fonts, and extra styling options. This
        lets you preview how Clampography adapts to various design configurations in real-time.
      </blockquote>

      <TypographyDemo />

      <Footer />
    </main>
  </body>
</html>
