---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ThemeWrapper from '../components/ThemeWrapper.astro';
const { title, description, frontmatter } = Astro.props;
const data = { ...frontmatter, title, description };
---

<ThemeWrapper>
  <Head title={data.title} description={data.description} />
  <body>
    <Header />
    <main>
      <article>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</ThemeWrapper>
