---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ThemeWrapper from '../components/ThemeWrapper.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
import MainProse from '../components/MainProse.astro';
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<ThemeWrapper>
  <Head title={title} description={description} />
  <body>
    <Header />
    <MainProse>
      <article>
        <slot />
      </article>
    </MainProse>
    <ThemeSwitcher />
    <Footer />
  </body>
</ThemeWrapper>
