---
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;

import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Main from '@/components/Main.astro';
import ThemeSwitcher from '@components/ThemeSwitcher.astro';
import ThemeWrapper from '@components/ThemeWrapper.astro';
---

<ThemeWrapper>
  <Head title={title} description={description} />
  <body>
    <Header />
    <Main>
      <article>
        <slot />
      </article>
    </Main>
    <ThemeSwitcher />
    <Footer />
  </body>
</ThemeWrapper>
