---
import Head from '../components/Head.astro';
import ThemeWrapper from '../components/ThemeWrapper.astro';
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<ThemeWrapper>
  <Head title={title} description={description} />
  <body>
    <main>
      <article>
        <slot />
      </article>
    </main>
  </body>
</ThemeWrapper>
