---
import Head from '../components/Head.astro';
import MainProse from '../components/MainProse.astro';
import ThemeWrapper from '../components/ThemeWrapper.astro';
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<ThemeWrapper>
  <Head title={title} description={description} />
  <body>
    <MainProse>
      <article>
        <slot />
      </article>
    </MainProse>
  </body>
</ThemeWrapper>
